.place__image {
    min-height: 460px;
    object-fit: cover;
    width: 100%;
}

@media screen and (max-width: 1024px) {
    .place__image {
        min-height: 440px;
    }
}

@media screen and (max-width: 1000px) {
    .place__image {
        min-height: 340px;
    }
}

@media screen and (max-width: 730px) {
    .place__image {
        min-height: 320px;
    }
}