.header {
    display: flex;
    max-width: 1184px;
    justify-content: space-between;
    align-items: flex-end;
    padding: 28px 0 56px 0;
}

@media screen and (max-width: 1200px) {    
    .header { 
        /* max-width: 928px; */
        max-width: calc(100% - 96px);
        padding-bottom: 48px;
    } 
 }

@media screen and (max-width: 930px) {
    .header { 
        /* max-width: 720px; */
        max-width: calc(100% - 48px);
    } 
}

@media screen and (max-width: 505px) {
    .header { 
        /* max-width: 288px; */
        max-width: calc(100% - 32px);
        padding-top: 16px;
    } 
}