.lead__title {
    max-width: 720px;
    font-size: 96px;
    font-weight: 900;
    line-height: 100px;
    text-align: center;
    color: #FFFFFF;
    margin: 0 auto 32px auto;
}

@media screen and (max-width: 740px) {
    .lead__title { 
        max-width: calc(100% - 6%);
        margin-bottom: 24px;
        font-size: 52px;
        line-height: 1.2;
    } 
 }

@media screen and (max-width: 505px) {
    .lead__title { 
        max-width: 288px;
        margin-bottom: 16px;
        font-size: 40px;
        line-height: 44px;
    } 
 }