.intro__text {
    font-size: 16px;
    line-height: 163%;
    color: #FFFFFF;
    margin: 0 0 33px 0;
    max-width: 690px;    
}


@media screen and (max-width: 1000px) {
    .intro__text {
        max-width: 720px;
    } 
}

@media screen and (max-width: 740px) {
    .intro__text {
        max-width: calc(100% - 6%);
    } 
}

@media screen and (max-width: 505px) {
    .intro__text {
        max-width: 288px;
    } 
}