.intro {
    max-width: 984px;
    padding-bottom: 92px;
}

@media screen and (max-width: 1024px) {
    .intro {        
        max-width: 928px;
    } 
}

@media screen and (max-width: 1000px) {
    .intro {        
        padding-bottom: 88px;
        max-width: 720px;
    } 
}

@media screen and (max-width: 740px) {
    .intro {        
        padding-bottom: 64px;
        max-width: calc(100% - 6%);
    } 
}

@media screen and (max-width: 505px) {
    .intro {        
        padding-bottom: 64px;
        max-width: 288px;
    } 
}