.place__link {
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    margin: 0 0 48px 0;
    transition: opacity 1s ease;
}

.place__link:hover {
    opacity: 0.8;
  }

@media screen and (max-width: 740px) {
    .place__link {
        margin: 0;
    }
}